<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Is that the best you can do? Oh man!</string>
	<string>Come on... at least make an effort!</string>
	<string>My mom could have guessed that right!</string>
	<string>This is wrong, wrong, wrooooong, wroooooooooong, WROOOOOOONG!!!!!!!!!</string>
	<string>...are you serious? This is your answer? That&apos;s of course not correct!</string>
	<string>Hmm, I guess not. Nope, not at all actually!</string>
	<string>Come on, give it another try.</string>
</array>
</plist>
