<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    
    <!-- OK -->
	<dict>
		<key>storyID</key>
		<integer>0</integer>
		<key>title</key>
		<string>University for Kids</string>
		<key>images</key>
		<integer>3</integer>
		<key>time</key>
		<dict>
			<key>year</key>
			<integer>2012</integer>
			<key>month</key>
			<integer>8</integer>
		</dict>
		<key>paragraphs</key>
		<array>
			<string>In August 2012, I organized the the &quot;Computer Science Lecture&quot; at the University for Kids, a yearly event hosted by my university. I enjoyed it a lot, since love doing both - working with children and talking about computer science :-) </string>
			<string>You can check out a video that was shot during the event at: https://www.youtube.com/watch?v=inMCLVRLpMs</string>
            <string>I showed the kids live how an iPhone app is developed by the example of a small "Capital Quiz", where the capital cities of different countries had to be guessed.</string>
		</array>
	</dict>
	<dict>
		<key>storyID</key>
		<integer>1</integer>
		<key>title</key>
		<string>Semester abroad: Seoul 2011</string>
		<key>images</key>
		<integer>3</integer>
		<key>time</key>
		<dict>
			<key>year</key>
			<integer>2011</integer>
			<key>month</key>
			<integer>10</integer>
		</dict>
		<key>paragraphs</key>
		<array>
			<string>During my Bachelor program, I spent one semester at the Seoul Nattional University in South Korea! I had a great time there and got to know a lots of friendly people.</string>
			<string>I travelled to Korea three weeks before the semester started and spent this time in a buddhist temple in the southern part of the country.</string>
			<string>My classes at the SNU were very interesting: Computational Neuroscience and an introductory course to C.</string>
		</array>
	</dict>
    
    <!-- OK -->
	<dict>
		<key>storyID</key>
		<integer>2</integer>
		<key>title</key>
		<string>Thesis student @SAP</string>
		<key>images</key>
		<integer>3</integer>
		<key>time</key>
		<dict>
			<key>year</key>
			<integer>2012</integer>
			<key>month</key>
			<integer>5</integer>
		</dict>
		<key>paragraphs</key>
		<array>
			<string>I wrote my Bachelor thesis in cooperation with SAP at their German headquarters in Walldorf. The department where I wrote the thesis was &quot;Master Data Governance&quot;.</string>
			<string>I implemented a prototype for a &quot;Drill-down search&quot; using an SAP internal HTML5 framework and Javascript. </string>
			<string>The goal of the thesis was to compare the performance of the prototype running against a regular and an in-memory database.</string>
		</array>
	</dict>
	<dict>
		<key>storyID</key>
		<integer>3</integer>
		<key>title</key>
		<string>Between high school and university</string>
		<key>images</key>
		<integer>3</integer>
		<key>time</key>
		<dict>
			<key>year</key>
			<integer>2008</integer>
			<key>month</key>
			<integer>11</integer>
		</dict>
		<key>paragraphs</key>
		<array>
			<string>After my high school graduation in 2008, I first did a voluntary, three-month internship in the asset management department of a big real estate company in Oberhausen, North Rhine-Westphalia. I learned a lot during my internship there, especially that I didn&apos;t want to study business ;-)</string>
			<string>In November 2008, I started my civil service, which I did in a bilingual kindergarden (the languages were German and English). The civil service at that time was mandatory for those male high school graduates that didn't want to join the military for 9 month and chose to work in a social insitution instead.</string>
			<string>I love working (or rather playing :-) with children! At that time, I even became the babysitter in multiple families who had at least one of their children in that kindergarden.</string>
		</array>
	</dict>
	<dict>
		<key>storyID</key>
		<integer>4</integer>
		<key>title</key>
		<string>High school year abroad: Douai, France</string>
		<key>images</key>
		<integer>3</integer>
		<key>time</key>
		<dict>
			<key>year</key>
			<integer>2005</integer>
			<key>month</key>
			<integer>8</integer>
		</dict>
		<key>paragraphs</key>
		<array>
			<string>In the eleventh grade, I decided to go abroad for one year. At that time, I had learned French in school for three years and liked it a lot, this was one of the main reasons why I picked France as the target country for my year abroad.</string>
			<string> The year was organized by a school exchange organisation called AFS. I lived in a very nice host family and went to a regular French high scool. My host brother once took me to his fencing practice - I immediately got addicted to it and trained four times a week for the rest of the year.</string>
			<string>All in all I met a lot of nice people and had a very exciting and fun year! Looking back this was one of the greatest times of my life!</string>
		</array>
	</dict>
	<dict>
		<key>storyID</key>
		<integer>5</integer>
		<key>title</key>
		<string>University: Bachelor of Science - Business Information Technology</string>
		<key>images</key>
		<integer>3</integer>
		<key>time</key>
		<dict>
			<key>year</key>
			<integer>2009</integer>
			<key>month</key>
			<integer>8</integer>
		</dict>
		<key>paragraphs</key>
		<array>
			<string>One year after my high school graduation, after having finished my civil service, I enrolled in a  Bachelor program in Business Information Technology at the University of Mannheim. Studying in Mannheim is just great, the university&apos;s main building is an actual castle.</string>
			<string>Until then I was always fascinated by computers, but hadn&apos;t written a single line of code. Once I started to learn programming, I quickly got addicted to it. My favorite class in the three years of the Bachelor was &quot;Software Engineering&quot;, which we had in our fourth semester. In this class, next to a theoretical lecture, students had to work on a group project and build a bank depot management system.</string>
			<string>The software had to be written in Java (the GUI was developed with the Swing framework) and was connected to an REST interface that was provided by our instructors to get access the recent stock prices.</string>
		</array>
	</dict>
	<dict>
		<key>storyID</key>
		<integer>6</integer>
		<key>title</key>
		<string>University: Master of Science - Business Information Technology</string>
		<key>images</key>
		<integer>3</integer>
		<key>time</key>
		<dict>
			<key>year</key>
			<integer>2012</integer>
			<key>month</key>
			<integer>8</integer>
		</dict>
		<key>paragraphs</key>
		<array>
			<string>After having finished my Bachelor studies, I continued right away with the Master program which I will finish in January 2015. I am enjoying my studies a lot, Master students have to chose one of three so-called specialization tracks. I chose the track &quot;System Design &amp; Development&quot; and focusses on the software engineering process and everything that is related to it (the other two tracks are &quot;Information Technology&quot; and &quot;E-Commerce&quot;).</string>
			<string>In the first two semesters of my Master, I was working on a team project, which students are required to do at my university. With a team of a total of five students, we developed a distributed &quot;Patient scheduling&quot; simulation tool that was based on Agent technology. The tool was developed in Java and built on top of the Agent framework JADE, it can be used to analyze and compare different patient scheduling coordination mechanisms.</string>
			<string>I still love being in Mannheim, I made a lot of friends there and I am living in an apartment that I share with three other guys, two of which I met during my very first day at the univeristy in August 2008.</string>
		</array>
	</dict>
	<dict>
		<key>storyID</key>
		<integer>7</integer>
		<key>title</key>
		<string>Student assistant at the Chair of Artifical Intelligence</string>
		<key>images</key>
		<integer>2</integer>
		<key>time</key>
		<dict>
			<key>year</key>
			<integer>2010</integer>
			<key>month</key>
			<integer>7</integer>
		</dict>
		<key>paragraphs</key>
		<array>
			<string>At the end of the second semester of my Bachelor studies, I got my first job as a programmer. I worked as a student assistant at the Chair of Artificial Intelligence where I mainly got in touch with Semantic Web technologies like RDF, SPARQL or DBPedia.</string>
			<string>Having only used Windows PCs until then, I set up my first Linux environment for that job. After a couple of month on that job, I bought my first MacBook - a MacBook Air that I just recently replaced with a MacBook Pro with a retina display.</string>
		</array>
	</dict>
	<dict>
		<key>storyID</key>
		<integer>8</integer>
		<key>title</key>
		<string>Working student @SAP</string>
		<key>images</key>
		<integer>3</integer>
		<key>time</key>
		<dict>
			<key>year</key>
			<integer>2012</integer>
			<key>month</key>
			<integer>6</integer>
		</dict>
		<key>paragraphs</key>
		<array>
			<string>Right after my Bachelor graduation, I switched from the department &quot;Master Data Governance&quot; where I wrote my Bachelor thesis to the department &quot;IT Mobile - Center of Excellence (CoE)&quot;, my team was concerned with building SAP internal apps that were to be used by employees.</string>
			<string>From June until August I developed my first real iOS app, it was called &quot;MyStaffingList&quot; and was intented to be used mostly by SAP consultants to help them getting an overview of their current staffings and projects. The app ran against an SAP backend with a REST interface.</string>
			<string>In the following year I was implementing one prototype for an app idea in our team, was responsible for maintenance of the &quot;MyStaffingList&quot; app and was helping out in a couple of bigger projects within my team.</string>
		</array>
	</dict>
	<dict>
		<key>storyID</key>
		<integer>9</integer>
		<key>title</key>
		<string>LetsMapp</string>
		<key>images</key>
		<integer>3</integer>
		<key>time</key>
		<dict>
			<key>year</key>
			<integer>2011</integer>
			<key>month</key>
			<integer>12</integer>
		</dict>
		<key>paragraphs</key>
		<array>
			<string>During my semester abroad in Seoul, I met another German guy. He studied Business in the city of Muenster, but originally he came from Hamburg, just like me. At that time, he was working for a start-up with a few friends from him from Hamburg. They were developing an iPhone app that combined instant messaging with a &quot;friends finding&quot; function, called LetsMapp.</string>
			<string>I joined the team whithout practical experience on iOS at a point in time when the iPhone app was basically already done. The app worked very well, users could log in with Facebook and then see all their friends that were also using the app on a map. The major drawback of the app was its battery consumption as we were doing regular GPS updates so that movements of friends would be visible.</string>
			<string>We put a lot of effort into optimizing the algorithm for updating locations to save battery power. After we returned to Germany, I helped building the website, but after returning to Mannheim I had to focus on finishing my Bachelor and writing my thesis so I stopped my activities for LetsMapp after about 5 month on the team.</string>
		</array>
	</dict>
	<dict>
		<key>storyID</key>
		<integer>10</integer>
		<key>title</key>
		<string>Semster abroad: Amsterdam</string>
		<key>images</key>
		<integer>3</integer>
		<key>time</key>
		<dict>
			<key>year</key>
			<integer>2013</integer>
			<key>month</key>
			<integer>8</integer>
		</dict>
		<key>paragraphs</key>
		<array>
			<string>In the third semester of my Master, I decided once more to go abroad. After having been to Seoul during my Bachelor studies, this time I chose a closer destination, Amsterdam! I loved the city from the first day, life quality there is very high! I didn&apos;t want to live in the student dorms this time, so I tackled apartment search in Amsterdam.</string>
			<string>Little did I know that this is a challenging task in Amsterdam, especially with a student budget. Luckily I had my job at Cameramanager to be able to afford rooms. During my whole stay, I couldn&apos;t find a permanent place, so over the whole period that I have been staying in Amsterdam I lived in four different appartments with different roommates.</string>
			<string>I studied at the Vrije Universiteit, my classes were very interesting and I learned a lot! One class was called &quot;Internet Programming&quot;, in this class we had to deliver bi-weekly programming assignments that we usually had to write in C and where we were exploring the C networking API. I could even reuse the knowledge I gained during the course for implementing the Camera sniffer for the Camermanager iOS app (in my opinion the most challenging feature I ever build :-).</string>
		</array>
	</dict>
	<dict>
		<key>storyID</key>
		<integer>11</integer>
		<key>title</key>
		<string>Pig with ice cream</string>
		<key>images</key>
		<integer>2</integer>
		<key>time</key>
		<dict>
			<key>year</key>
			<integer>2005</integer>
			<key>month</key>
			<integer>7</integer>
		</dict>
		<key>paragraphs</key>
		<array>
			<string>This is just a little pig enjoying some ice cream, cute right?</string>
			<string>Enjoy your day! :-)</string>
		</array>
	</dict>
	<dict>
		<key>storyID</key>
		<integer>12</integer>
		<key>title</key>
		<string>Cameramanager</string>
		<key>images</key>
		<integer>3</integer>
		<key>time</key>
		<dict>
			<key>year</key>
			<integer>2013</integer>
			<key>month</key>
			<integer>8</integer>
		</dict>
		<key>paragraphs</key>
		<array>
			<string>For the time of my studies in Amsterdam, I applied for a job as iOS developer at a few companies. After a Skype interview and one visit at their office in Amsterdam, I signed a working contract at Cameramanager. In August, when my classes at the Vrije Universeit Amsterdam (VU) hadn&apos;t yet started, I worked full-time. After that, I reduced my work time a bit depending on the current workload that I had for my classes at the VU.</string>
			<string>Cameramanager offers camera surveillance with IP cameras that can be managed in the cloud. Just before I started working there, the company had been acquired by Panasonic. When I started the job, the company already had an iOS app in the App Store, but had just decided to build a completely new interface for it.</string>
			<string>I was (and still am) the only iOS developer in the company, I looked at the code from the old app, was shocked and decided to start the new app from scratch. I tried to reuse as much code as possible from the old app, which finally came down to a few helper classes that I could integrate with the new UI. I managed to build and publish the first version of the (universal) app within about 2 and a half month and added many features since then.</string>
		</array>
	</dict>
	<dict>
		<key>storyID</key>
		<integer>13</integer>
		<key>title</key>
		<string>Mobile World Congress 2014 @Barcelona</string>
		<key>images</key>
		<integer>3</integer>
		<key>time</key>
		<dict>
			<key>year</key>
			<integer>2014</integer>
			<key>month</key>
			<integer>2</integer>
		</dict>
		<key>paragraphs</key>
		<array>
			<string>In January 2014, the yearly company day (&quot;Greenday&quot;) was hosted by Cameramanager. In the morning, the whole team of 30-35 pleople has been split up into smaller groups, each of which has been assigned a team lead by our two bosses. I was selected to be the lead of the &quot;Mobile and Web team&quot;, consisting of our Android developer, me and our three web developers.</string>
			<string>Just like all other teams, we had to prepare a presentation that was to be held by the team lead. At the end of the day, everyone could vote for the best presentation that was held in the morning and my presentation won in the end. The price for all team members was one day at the Mobile World Congress that took place in February in Barcelona.</string>
			<string>I flew there with my team members, ending up having a great and also very interesting time before and at the congress. I spent most of the time in a hall that was called &quot;App Planet&quot; and which was packed with interesting companies and their innovative technologies! A funny side story of the MCW is that I met an old friend of mine who I got to know during my stay in France and whom I hadn&apos;t seen for more than 7 years!</string>
		</array>
	</dict>
	<dict>
		<key>storyID</key>
		<integer>14</integer>
		<key>title</key>
		<string>WWDC 2014 @San Francisco</string>
		<key>images</key>
		<integer>3</integer>
		<key>time</key>
		<dict>
			<key>year</key>
			<integer>2014</integer>
			<key>month</key>
			<integer>6</integer>
		</dict>
		<key>paragraphs</key>
		<array>
			<string>What a great chance to learn directly from Apple engineers, get insights about Apple&apos;s future directions and meet other fascinating members of the community! I have heard very much about WWDC and from the beginning it has been very clear to me that one day I would go there. </string>
			<string>When I saw the possibility to apply for a student scholarship, I didn&apos;t hesitate one moment and immediately started thinking about an app that I could build for this purpose, thus &quot;Quiz Me&quot; was born :-)</string>
			<string>I see this as a major opportunity and would love to be a part of this exciting event!</string>
		</array>
	</dict>
	<dict>
		<key>storyID</key>
		<integer>15</integer>
		<key>title</key>
		<string>Birth</string>
		<key>images</key>
		<integer>1</integer>
		<key>time</key>
		<dict>
			<key>year</key>
			<integer>1989</integer>
			<key>month</key>
			<integer>7</integer>
		</dict>
		<key>paragraphs</key>
		<array>
			<string>Date of birth: 26th of July, 1989
Place of birth: Hamburg</string>
		</array>
	</dict>
	<dict>
		<key>storyID</key>
		<integer>16</integer>
		<key>title</key>
		<string>MacBook Pro Retina 13-inch, Late 2013</string>
		<key>images</key>
		<integer>2</integer>
		<key>time</key>
		<dict>
			<key>year</key>
			<integer>2014</integer>
			<key>month</key>
			<integer>2</integer>
		</dict>
		<key>paragraphs</key>
		<array>
			<string>In March 2014 I ordered a new MacBook to replace my old MacBook Air that I had been using for 3 years. The new MacBook is fantastic and I just love working with it!</string>
			<string>Here are the specs:
Processor: 2,8 GHz Intel Core i7
Memory: 16 GB 1600 MHz DDR3
Storage: 500 GB Flash</string>
		</array>
	</dict>
	<dict>
		<key>storyID</key>
		<integer>17</integer>
		<key>title</key>
		<string>Client projects</string>
		<key>images</key>
		<integer>3</integer>
		<key>time</key>
		<dict>
			<key>year</key>
			<integer>2014</integer>
			<key>month</key>
			<integer>2</integer>
		</dict>
		<key>paragraphs</key>
		<array>
			<string>Lately, I have started to work on client projects. I am working on three different mobile apps at the moment. The first one is an iPad app for my doctor in Germany who wants to use it to manage the Botox treatments that he is doing with his patients. The features of the app include the management of patients and their treatments, as well maintaining a photo archive of each patient that allows to generate Before/After-pictures for each treatment.</string>
			<string>The second app (&quot;Traffic Alarm&quot;) is for a guy who I got in touch with through a fellow student of mine. He works as a designer and wants to realize his idea for an iPhone alarm application, where the user enters an appointment along with a location for that appointment, and the app will then according to the current traffic (and some more information that has to be provided by the user) set the actual alarm time for the user.</string>
			<string>The third one is actually an Android application (sorry...). It is for an iOS developer who has no Android knowledge at all (no experience with Java and Eclipse either...) and who wants to port one iOS app of his to Android. I accepted his request as I find it interesting at least to get to know the basic programming concepts in Android (although I have to say that working with Eclipse is a real pain compared to Xcode).</string>
		</array>
	</dict>
	<dict>
		<key>storyID</key>
		<integer>18</integer>
		<key>title</key>
		<string>My girlfriend: Mona</string>
		<key>images</key>
		<integer>3</integer>
		<key>time</key>
		<dict>
			<key>year</key>
			<integer>2012</integer>
			<key>month</key>
			<integer>10</integer>
		</dict>
		<key>paragraphs</key>
		<array>
			<string>In January 2012, I met my girlfiend, Mona! :-) It took us until October to get together but we have been very happy since then. </string>
			<string>In February 2014, she joined me in Amsterdam where she does an internship and where we currently live together in a really nice apartment.</string>
			<string>She doesn&apos;t know anything about programming, and yet I am drawing a lot of inspiration from her and she also helps me when I need advice about design or UX questions.</string>
		</array>
	</dict>
	<dict>
		<key>storyID</key>
		<integer>19</integer>
		<key>title</key>
		<string>Podcasts</string>
		<key>images</key>
		<integer>3</integer>
		<key>time</key>
		<dict>
			<key>year</key>
			<integer>2014</integer>
			<key>month</key>
			<integer>1</integer>
		</dict>
		<key>paragraphs</key>
		<array>
			<string>In January 2014, I started listening to Tech (escpecially iOS related) podcasts. I am enjoying these shows so much, being fascinated and higly inspired by most of them. </string>
			<string>Here is a list of my favorites:
1: NSBrief - A show hosted by Saul Mora who for each episode would invite someone from the community to talk about a few iOS related topics.
2: Core Intuition: Daniel Jalkut and Manton Reece are very entertaining to listen to and also give nice insights into the iOS world.
3: iDeveloper Life: Scotty telling interesting iOS stories and talking to interesting guests.</string>
			<string>In Amsterdam, I am spending a lot of time on my bike, which for me is just the perfect occasion to be inspired by these amzing shows! Two of my favorite episodes of NSBRief are the one with Matt Thompson and the one with Mike Lee where they were talking about Mike&apos;s project &quot;appsterdam&quot;.&quot;</string>
		</array>
	</dict>
	<dict>
		<key>storyID</key>
		<integer>20</integer>
		<key>title</key>
		<string>My first App Store submission: My Debts</string>
		<key>images</key>
		<integer>3</integer>
		<key>time</key>
		<dict>
			<key>year</key>
			<integer>2013</integer>
			<key>month</key>
			<integer>5</integer>
		</dict>
		<key>paragraphs</key>
		<array>
			<string>After having worked as a working student for SAP for more than half a year and having internally published one iOS app at SAP and worked on a few more iOS projects, I decided that it&apos;s time for me to start working on my first App Store submission. </string>
			<string>My goal was to build an app that would use CoreData for local storage, as I had never had hands-on experience with CoreData until then but wanted to know more about how it works. Building an own app in my opinion was the best occasion to get going on CoreData.</string>
			<string>So, I came up with the idea of a debt management application to keep track of borrowed or lent money. Having started with a tab bar controller, I switched to a menu slide view controller along the way. After its initial release in May last year, I unfortunately didn&apos;t have the time to build an update, maybe this will come soon.</string>
		</array>
	</dict>
</array>
</plist>
